{
  "presets": ["env"],
  "sourceMaps": true,
  "retainLines": true,
  "plugins": [
    "transform-runtime",
    [
      "babel-plugin-transform-builtin-extend",
      {
        "globals": ["Error", "Array"]
      }
    ]
  ]
}
